$font-color: #24203b !default;
$font-alternative-color: #e079c9 !default;
$accent-color: #d1c4e0 !default;
$background-color: #a878e0 !default;
$container-color: #8879e0 !default;
$top-bottom-color: #cb79e0 !default;
