body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 64rem;
  padding: 0.5rem;
  background-color: $container-color;
  margin: 0 auto;
}
