.footer {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: $top-bottom-color;
  color: #fff;

  .social {
    text-decoration: none;
    font-size: 3rem;
  }
}

