@use 'variables' as * with (
  $font-color: #0696fc,
  $font-alternative-color: #4a92c5,
  $accent-color: #fff,
  $background-color: #34424d,
  $container-color: #2b2f33,
  $top-bottom-color: #185e91
);

@use '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@use '../../shared/fontawesome/scss/brands';
@use '../../shared/fontawesome/scss/solid';
@use '../../shared/fontawesome/scss/regular';

//@use 'variables-dark';
@use 'gallery';

@use 'container';
@use 'header';
@use 'footer';
@use '../../node_modules/normalize.css/normalize';

@use 'blockquotes';
@use 'code';
@use 'technology';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@import 'typography';

* {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', sans-serif;
}

body {
  background-color: $background-color;
}

* {
  color: $font-color;
}

