.open-sans-name {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
}

p {
  font-size: 1.4em;
  margin-bottom: 1.96rem;
}
//check in the video at around 45 minute mark for how the name was...
