{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main analysis" role="main">

        
        <article class="article">
            <img src="assets/img/crunchyroll.png" alt="Crunchyroll">
            <img src="assets/img/centrumbiografen.png" alt="Centrumbiografen">
            <img src="assets/img/netflix.png" alt="Netflix">
            {{ content }}
        </article>

    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
