{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
        <img src="assets/img/picrepme.png" alt="Bild som representerar mig">
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
